apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m
    route:
      receiver: slack-default
      group_by: ['alertname', 'severity', 'instance']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 4h
    receivers:
    - name: slack-default
      slack_configs:
      - api_url_file: /etc/alertmanager/secrets/slack-webhook/api_url
        send_resolved: true
        title: '[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}{{ if .CommonLabels.severity }} ({{ .CommonLabels.severity }}){{ else }} (info){{ end }}'
        text: |
          *Where*: ns={{ if .CommonLabels.namespace }}{{ .CommonLabels.namespace }}{{ else }}n/a{{ end }}, pod={{ if .CommonLabels.pod }}{{ .CommonLabels.pod }}{{ else }}n/a{{ end }}, instance={{ if .CommonLabels.instance }}{{ .CommonLabels.instance }}{{ else }}n/a{{ end }}
          {{- range .Alerts }}
          *What*: {{ .Annotations.summary }}
          {{- if .Annotations.description }}
          *Detail*: {{ .Annotations.description }}
          {{- end }}
          {{- end }}

